@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Responsive End */

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #caddf5;
}

/* Home Page Styles Start */

nav {
  background-color: white !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px;
  height: 60px;
  width: auto;
  /* position: -webkit-sticky; */
  position: sticky;
}

nav a {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-main {
  justify-content: center;
  padding: 0px 0px 0px 48px !important;
  display: flex;
  flex-direction: row;
}

.navbar-svg {
  stroke: red;
  fill: red;
  width: 20px;
  height: 20px;
}

.nav-right-res {
  height: 40px;
  width: 40px;
  box-sizing: content-box;
  padding: 0px !important;
}

.nav-login {
  display: block;
}

.nav-right-res img {
  width: 36px;
  justify-content: center;
}

.nav-right-res-items {
  display: none;
}
.navbar-active {
  font-weight: bold;
  color: hwb(219.5 0% 0%);
  border-bottom: 2px solid hwb(219.5 0% 0%);
  border-width: 80%;
}

.active-login {
  font-weight: bold;
}

.home-nav:hover {
  border-bottom: 2px solid hwb(220 0% 18%);
  color: hwb(220 0% 32%);
}

.navbar-left1 {
  display: flex;
  gap: 20px;
  list-style: none;
}

.icon {
  align-items: center;
  margin-top: 6px;
  max-width: max-content;
  max-width: max-content;
}

.navbar-right {
  align-content: center;
  height: 100%;
}
.navbar-end {
  background-color: hwb(219.5 0% 0%);
  clip-path: polygon(12% 0%, 100% 0%, 100% 100%, 0% 100%);
  border: 1px solid none;
  width: 45%;
  height: 100%;
  padding-right: 48px;
}

.navbar-login {
  color: white;
}
.navbar-login:hover {
  color: white;
  border-bottom: 2px solid white;
}

.navbar-right1 {
  color: white;
  background-color: red;
  border: 1px solid red;
  border-radius: 5px;
  padding: 3px;
}

/* Home Page Styles End */
.main1 {
  background-color: white;
  padding: 50px 45px;
}

.kotak1 {
  border: 1px solid white;
  background-color: white;
  margin: 45px 48px;
  height: 100%;
  border-radius: 5px;
  align-items: center;
  box-sizing: border-box;
}

.kotak2 {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex: auto;
  align-items: center;
  gap: 60px;
  padding: 40px;
}

.kotaka {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  margin: 30px 10px;
  box-sizing: border-box;
}

.k1 {
  font-size: 17px;
  text-align: justify;
  line-height: 1.5;
  margin: 45px 0px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 5px;
  box-sizing: border-box;
  align-items: center;
}

.contact-down {
  align-items: center;
  width: max-content;
  box-sizing: border-box;
  padding: 0px;
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.contact-img {
  width: 150px;
  padding: 5px 10px 0px 0px;
}

.down-img {
  display: flex;
  width: 200px;
}

.mid {
  display: flex;
  align-items: center;
  width: auto;
  flex-direction: row;
}

.contact-bts {
  /* font-size: 17px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.kotakb {
  align-items: center;
  box-sizing: border-box;
  width: 110%;
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  line-height: 0.5px;
  padding: 30px;
  gap: 15px;
}

.gb {
  width: 90%;
  border-radius: 3px;
  /* box-sizing: border-box; */
  /* object-fit: contain; */
  /* clear: both; */
  /* display: table; */
  /* margin-bottom: 20px;  */
}

.kotakb div {
  text-align: center;
}

.btu {
  height: 12px;
  width: 12;
  margin: 0px !important;
  align-items: center;
}

.contact-down:hover {
  font-weight: 750;
}

.bts {
  height: 42px;
  width: 42px;
  margin: 0px 7px;
}

.link-bts {
  display: flex;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon {
  height: 20px;
}

.dropdown-d {
  display: block;
}

/* Responsive Start */

@media (max-width: 800px) {
  .navbar-main {
    flex-direction: column;
    padding: 0px 40px 0px 40px !important;
  }
  .nav-right-res-items {
    display: block;
  }

  .nav-login {
    display: none;
  }
  .hrLine {
    width: 95%;
  }
  .kotak2 {
    flex-direction: column;
    padding: 30px 40px;
    align-items: center;
    gap: 10px !important;
  }
  .link-bts {
    align-items: center;
    justify-content: center;
  }

  .dropdown-d {
    display: block;
  }

  .contact {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
  }

  .kotak1 {
    margin: 30px 40px;
    height: 100%;
  }
  .bts {
    height: 35px;
    width: 35px;
    margin: 0px 7px;
  }
  .kotakb {
    width: 105%;
  }
  .kotakb img {
    /* height: 20%; */
    width: 100%;
    box-sizing: content-box;
  }
  .k1 {
    font-size: 11px;
    margin: 10px 0px;
  }
  .contact-bts {
    gap: 10px;
  }
}

/* BLOG PAGE STYLES */

.blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  background-color: none;
  gap: 15px;
}

.blog-form label {
  font-weight: bold;
}

.blog-main {
  background-color: #e3e7eb;
  justify-items: center;
  margin-bottom: 0px;
}

.blog-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 7px;
  box-shadow: 0 0 20px #a8a8a8;
  box-sizing: border-box;
}

.input-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.blog-field-area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blog-input-area {
  resize: none;
  border-radius: 5px;
  border: 1px solid #cacaca;
  padding: 7px;
  box-shadow: 0 0 20px #a8a8a8;
}

.class-button {
  font-family: "helvetica neue", helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid rgb(200 200 0 / 60%);
  background-color: rgb(0 217 217 / 60%);
  color: rgb(100 0 0 / 100%);
  box-shadow: 1px 1px 2px rgb(0 0 200 / 40%);
  border-radius: 10px;
  padding: 3px 10px;
  cursor: pointer;
}

.text-orange {
  color: orangered !important;
}

.btn-nav {
  /* background-color: hwb(221.7 0% 20.4%); */
  background-color: hwb(219.5 0% 0%);
  border: 2px solid white;
  color: white;
}

.btn-nav:hover {
  background-color: white;
  border: 2px solid hwb(219.5 0% 0%);
  color: hwb(219.5 0% 0%);
}

.btn-nav:focus {
  border: 2px solid hwb(219.5 0% 0%);
}

.btn-add {
  background-color: hwb(219.5 0% 0%);
  border: 2px solid hwb(219.5 0% 0%);
  color: white;
  margin: 25px 15px;
}

.btn-tes {
  border: 2px solid hwb(219.5 0% 0%);
}

.my-div {
  width: 100px;
  height: 100px;
  background-color: orange;
  margin: 10px;
  border-radius: 10px;
}
