/* Style.css File */

/* Styling the container */

/* Style all input fields */

/* Style the submit button */
/* input[type=submit] {
    background-color: #0f0fe9;
    color: white;
    cursor: pointer;
} */

/* input[type=submit]:hover {
    background-color: #4141fc;
} */

/* The message box */
#password-message {
  display: none;
  background: #ffffff;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
  text-align: left;
}

#password-message h3 {
  font-size: 8px;
  margin-top: 0;
  text-transform: uppercase;
}

#password-message p {
  margin: 8px 0;
}

.valid {
  color: hwb(219.5 0% 0%);
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
}

.invalid {
  color: orangered;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
}

/* Error message style */
.error-msg {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}
