{{#> layout title='Create Heroes' user=user}}

  <main class="contact-section">
    <div class="form-edit">
    <form action="/heroes-add" method="post" class="contact-form-edit" enctype="multipart/form-data">
      <div class="form-title">
        <h2>ADD MY HEROES</h2>
      </div>
      <div class="form-field">
        <label for="name">Heroes Name</label>
        <input id="name" name="name" class="form-input" type="text" required />
      </div>

      <div class="form-field">
        <label for="type">Heroes Type</label>
        <input id="type" name="type" class="form-input" type="text" required />
      </div>

     

     

      



      <div class="form-field-image">       
        <label for="image" class="form-label">Upload Image</label>
          <input id="image" name="image" class="form-control form-input " type="file" accept=".png, .jpg, .jpeg">
      </div>
<div class="w-100 text-center">
<img id="preview" src="#" alt="image preview" class="img-thumbnail d-none" style="max-width: 100%"></img>
</div>
      <div  class="form-button"><button id="button-add"  type="submit" class="form-submit-button d-none">Post Heroes</button></div>
    </form>
    <div class="form-button-edit"><button onclick="return confirmAdd()"  ontype="submit" class="form-submit-button-edit">Post Heroes</button></div>
</div>

  <script src="/asset/js/image-preview.js"></script>

    
  </main>

{{/layout}}